/**{
  border: 1px solid red;
}*/

body{
  background-color: white;
  background-image:
   linear-gradient(
     lightgrey, #f06d06
   );
  width: 100vw;
  height: 60vw;
}
.el1{
width: 20%;

}
#container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.el1 h1{
  display: flex;
  flex-wrap: wrap;
  font-size: 15pt;
}

img{
  margin-left: 3.5vw;
  height: 10vw;
  width: 10vw;
}
h1{
  text-align: center;
  color: purple;
  align-self: stretch;
  font-size: 19pt;
}


header{
  margin-left: 10vw;
  margin-right: 10vw;
  width: 80vw;
  height: 10vw;
  border-bottom: 1px solid black;
}
header input{
  background-color: #e0d7d7;

  font-weight: 100;
  margin-top: 5vw;
  font-size: 24pt;
}

.first_row{
  display: flex;
  flex-direction: row;
  width: 80vw;
  height: 22vw;
  margin-left: 10vw;
  margin-right: 10vw;
}

.second_row{
  display: flex;
  flex-direction: row;
  width: 80vw;
  height: 22vw;
  margin-left: 10vw;
  margin-right: 10vw;
}
#one{
  border: .5px solid grey;
  width: 18vw;
  height: 18vw;
  margin-right: 2vw;
  margin-left: .5vw;
  margin-top: 2vw;
}
#two{
  border: .5px solid grey;
  width: 18vw;
  height: 18vw;
  margin-right: 2vw;
  margin-top: 2vw;
}
#three{
  border: .5px solid grey;
  width: 18vw;
  height: 18vw;
  margin-right: 2vw;
  margin-top: 2vw;
}
#four{
  border: .5px solid grey;
  width: 18vw;
  height: 18vw;
  margin-top: 2vw;

}
#five{
  border: .5px solid grey;
  width: 18vw;
  height: 18vw;
  margin-right: 2vw;
  margin-left: .5vw;
  margin-top: 2vw;
}
#six{
  border: .5px solid grey;
  width: 18vw;
  height: 18vw;
  margin-right: 2vw;
  margin-top: 2vw;
}
#seven{
  border: .5px solid grey;
  width: 18vw;
  height: 18vw;
  margin-right: 2vw;
  margin-top: 2vw;
}
#eight{
  border: .5px solid grey;
  width: 18vw;
  height: 18vw;
  margin-top: 2vw;

}
